* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --text-color: hsl(240, 6%, 21%);
  --bg-color: hsl(0, 0%, 100%);

  --button-bg-color: hsl(240, 9%, 89%);
  --button-selected-bg-color: hsl(194, 97%, 31%);
  --button-selected-color: hsl(0, 0%, 100%);
}

html.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-size: 4.8rem;

  border: none;
}

#app {
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  height: 100vh;
}

#countdown {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#timer {
  color: var(--text-color);
  font-size: 9.6rem;
  line-height: 1;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sound-controls {
  display: flex;
  gap: 1.6rem;

  & > button {
    background-color: #e1e1e6;

    border-radius: 2.4rem;
    padding: 1.6rem;
  }

  & > button.selected {
    color: var(--button-selected-color);
    background-color: var(--button-selected-bg-color);
  }
}
